.top__brands {
    padding: 30px 0px;
}

.brand__item__cover{
    height: 150px;
    width: 150px;
    margin: 0px 15px;
    margin-bottom: 20px;
    border-radius: 10%;
    background-color: var(--primary-bg);
    box-shadow: var(--collection-box-shadow);
    border: 0.5px solid var(--border-white);
}

.brand__item__img{
    object-fit: cover;
    border-radius: inherit;
    height: 100%;
    width: 100%;
}


.brand__item__title{
    color: var(--heading-text);
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    width: 178px;
    overflow: hidden;
    text-overflow: ellipsis;
}