.delivery__item__cover{
    height: 150px;
    width: 178px;
    border-radius: 8px;
}

.delivery__item__img{
    object-fit: cover;
    height: 136px;
    width: 136px;
    margin: 0px auto;
    border-radius: 50%;
}

.delivery__item__title{
    color: var(--heading-text);
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    width: 178px;
    overflow: hidden;
    text-overflow: ellipsis;
}