.collection__wrapper{
    background-color: var(--inactive-img-bg);
}

.collection {
    padding: 15px 0px 40px;
}

.collection__subtitle__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.collection__subtitle__text{
    color: var(--collection-subtitle-text);    
}

.collection__location{
    color: var(--zomato-red);
    display: flex;
}

.collection__cover{
    margin: 0px auto;
    height: 320px;
    width: 240px;
    border-radius: 6px;
    position: relative;
}

.gradient__bg{
    position: absolute;
    height: 100%;
    width : 100%;
    top:0px;
    left:0px;
    background:var(--collection-bg-gradient) ;
}

.collection__image{
    height: 100%;
    width : 100%;
    object-fit: cover;
    border-radius: 6px;
}

.collection__card__title{
    position: absolute;
    left: 16px;
    bottom: 30px;
    font-size: 18px;
    color: var(--primary-bg);
}

.collection__card__subtitle{
    display: flex;
    color: var(--primary-bg);
    position: absolute;
    left: 16px;
    bottom: 10px;
    font-size: 14px;
}